<mat-toolbar color="primary">
    <span>Contact Manager</span>
    <span class="header-spacer"></span>
    <div>
        <a mat-button routerLink="/">  <!-- Step 1-->
            <mat-icon>home</mat-icon>
        </a>
        <a mat-button routerLink="/demo">Material Demo</a>
        <button mat-button>About</button>
        <span class="header-button-row">
            <button mat-raised-button color='accent'>
                <mat-icon>lock</mat-icon>Sign in
            </button>
            <button mat-raised-button color='accent'>
                <mat-icon>perm_identity</mat-icon>Sign up
            </button>
        </span>
    </div>
</mat-toolbar>